<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h3>The present code is to demostrate my javascript skills</h3>

  <p *ngIf="requestApiKey">
     In order to start working correctly with the End points provided i need an API_Key, so please insert it in the following input field
  </p>

  <form [formGroup]="apiForm" novalidate (ngSubmit)="storeApiKey(apiForm)" *ngIf="requestApiKey">
    <ion-item>
      <ion-label color="primary">API Key</ion-label>
      <ion-input class="col" type="input" formControlName="api" name="apiKey" placeholder="ej. 1k43Y6yfQX3mrunU9TRR9hH5swL2IXOfiZwJ0n0n"></ion-input>
    </ion-item>
    <ion-item>
      <button ion-button  full class="" type="submit">Sent</button>
    </ion-item>
  </form>

  <p *ngIf="!requestApiKey">
     Great we have already an ApiKey to work with :)<br>
     You can go and check the functionality in the User or Developer pages
  </p>

</ion-content>
